@model IEnumerable<BS_FormBuilder.Web.Models.Entities.Form>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Form", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Form Id")
        </th>
        <th>
            @Html.DisplayName("Form Name")
        </th>
        <th>
            @Html.DisplayName("Created On")
        </th>
        <th>
            @Html.DisplayName("Updated On")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { formId = item.FormId }) |
                @Html.ActionLink("Edit Attributes", "EditAttributes", new { formId = item.FormId }) |
                @Html.ActionLink("Delete", "Delete",
                                new { formId = item.FormId },
                                new { onclick = "return confirm('Are you sure you wish to delete this Form?');" }) |
                @Html.ActionLink("Run", "Run", "FormRuntime", new { formId = item.FormId }, null)
            </td>
        </tr>
    }
</table>
