<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_FormRuntimeLayout</title>
    @Styles.Render("~/assets/runtime-css")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h3>Form Run <span class="backToListLink"> [ @Html.ActionLink("Back to List", "List", "FormBuilder") ]</span></h3>
                @RenderBody()
            </div>
        </div>
    </div>

    <script data-main="/assets/js/main.js" src="/assets/js/lib/require.js"></script>
    <script type="text/javascript">
        window.AppScope = function () {
            var AppScope = {
                FormDisplayStyles: {
                    NON_MODAL: 0,
                    SLIDE_FROM_TOP: 1,
                    SLIDE_FROM_BOTTOM_RIGHT: 2,
                    SLIDE_FROM_SIDE: 3
                },
            };
            require(['runtime-app'], function (app) {
                app.initialize('@Model.FormId');
                @RenderSection("scripts", false)
            })
            return AppScope;
        }();
    </script>


</body>
</html>
