@model BS_FormBuilder.Web.Models.Entities.Form
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form Builder - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/assets/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*@Scripts.Render("~/bundles/modernizr")*@
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body style="padding-top:0">
    <div class="ajax-loader">
    </div>

    <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
    @RenderBody()
    <div class="container">
        <div class="row clearfix">
            <!-- Building Form. -->
            <div class="span7">
                <div class="clearfix">
                    <h2>@ViewBag.Title<span class="backToListLink"> [ @Html.ActionLink("Back to List", "List") ]</span></h2>
                    <hr>

                    <div class="tabbable form-builder-tab">
                        <ul class="nav nav-tabs" id="designformtabs">
                            <!-- Form and Preview Tab nav -->
                        </ul>
                        <div id="build">
                            <form id="target" class="form-horizontal">
                                <div class="tab-content">
                                    <!-- Design/Preview Tabs go here -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Building Form. -->
            <!-- Components -->
            <div class="span5">
                <h2>Drag & Drop components</h2>
                <hr>
                <div class="tabbable component-tab">
                    <ul class="nav nav-tabs" id="formtabs">
                        <!-- Tab nav -->
                    </ul>
                    <form class="form-horizontal" id="components">
                        <fieldset>
                            <div class="tab-content">
                                <!-- Tabs of snippets go here -->
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- / Components -->

        </div>
    </div> <!-- /container -->

    <script type="text/javascript">
        var AppScope = function () {
            var url,
            editMode = '@ViewBag.EditMode';

            if (editMode == 'create') {
                url = '@Url.Action("Create", "FormBuilder")';
            }
            else {
                url = '@Url.Action("Edit", "FormBuilder")';
            }
            return {
                editMode: '@ViewBag.EditMode',
                formId: '@Model.FormId',
                formJson: '@Model.FormJson',
                formBuilderJson: '@Model.FormBuilderJson',
                url: url,
                AddAntiForgeryToken: function (data) {
                    data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val();
                    return data;
                },
            }
        }();
    </script>

    <script src="/assets/js/lib/require.js"></script>
    <script>
        require(['/assets/js/main.js'], function () {
            require(['app/builder-app'], function (app) {
                app.initialize('@Model.FormId');
            });
        });
    </script>
</body>
</html>
